body{
    height: 100%;
    width: 100%
}
ul{
    padding: 0px!important;
}
.Menu-principal {
    background-color: #252323;
    height: 60px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    float: left;
    padding: 16px;
    width: 70%;
}
.Redes-sociais  ul li{ 
    margin-left: 0px; 
    padding: 16px;
    display: inline-block;
    list-style: none;
}
.header-2 {
    background-color: white;
    width: 980px;
    margin: 0 auto;  
    padding: 16px; 
}
.menu-urls{
    border-bottom: 3px solid #efefef;
    height: 84px; 
}
.Menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
}
.Menu ul li:hover{
    border-bottom: 3px solid #00bac6;
    height: 50px;
}
.Menu ul li a:hover{
    color: #00bac6;
}
.Menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;     
}
.Menu{
    width:  70%;
    float: left;
}
.busca{
    text-align: center;
    width: 30%;
    float: right;
}
.busca input{
    background-image: url('../img/busca.png');
    background-repeat: no-repeat;
    background-position: 96%;
    height: 20px;
    padding: 5px;
    width: 190px;
    margin-top: 10px;
    border: 1px solid #d6d6d6;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
button.slick-prev{
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 51;
    width: 25;
    background-color: transparent;
    background-image: url(../img/seta\ 1\ esq.png);
    position: absolute;
    top: 50%;
    left: 17%;
    z-index: 9;

}
button.slick-next{
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 51;
    width: 25;
    background-color: transparent;
    background-image: url(../img/seta\ 2\ dir.png);
    position: absolute;
    top: 51%;
    right: 15%;
    z-index: 9;
}
.slick-list {
    width: 100%!important;
}
.slick-initialized {
    overflow: hidden;
}
ul.slick-dots li button{
    font-size: 0px;
    border: 5px solid white;
    background: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots li{
    display: inline-block;
    padding: 3px;
    height: 16;
    width: 17;
}
ul.slick-dots li.slick-active button {
    background-color: #00bac6;
}
.slick-dots li {
    padding-left: 5px;
    display: inline-block;
}
.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 47%;
    top: 95%;
}
.content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.texto-destaque{
    text-align: center;
}
.texto-destaque h1{
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
    font-style: Myriad Pro;
}
.texto-destaque strong{
    color: #646464;
    font-size: 30px;
    text-transform: uppercase;
}
.texto-destaque p {
    font-size: 15px;
    color: #9a9a9a;
}
.col-3 strong{
    color:  #7b7b7b;
    font-size: 20px;
    text-transform: capitalize;
}
.col-3 h3{
    font-size: 20px;
    color: #9b9b9b;
}
.col-3 p{
    font-size: 14px;
}
.col-3{
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    position: relative;
    float: left;
}
.bloco-texto{
    margin-top: 2cm;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
h3 {
    font-weight: normal!important;
}
.bloco-imagens-texto {
    background-color: #eeeeee;
} 
.bloco-imagens-texto::before {
    width: 100%;
    display: inline-block;
    content: "";
    height: 52px;
    background: white;
    background-image: url('../img/shape3.png');
    background-repeat: no-repeat;
    background-position: center;
}